@{
    ViewData["Title"] = "Login Page";
}

<div class="index-main">
    <h2>Retail POS</h2>
    <div class="index-inner-box">
        <label for="username-text">Username</label>
        <input id="username-text" type="text">
        <label for="password-text">Password</label>
        <input id="password-text" type="password">
        <button>Login</button>
    </div>
</div>
